<!DOCTYPE html>
<html>
    <head>
        <title>Aangan Express</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="images/favicon.png" type="image/x-icon" >
        <meta name="keywords" content="Fruit Crush Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"/>
        <!-- js -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <!-- //js -->
        <!-- fonts -->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <!-- //fonts -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
    </head>
    <body id="innerpage">
        <!-- header -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-left">
                    <ul>
                        <li><a href="https://www.facebook.com/Aangan-Express-1581431575516938/" class="f1" target="_blank"> </a></li>
                        <li><a href="#" class="f2"> </a></li>
                        <li><a href="#" class="f3"> </a></li>
                        <li><a href="#" class="f4"> </a></li>
                    </ul>
                </div>
                <div class="header-top-mid">
                    <p><span class="glyphicon glyphicon-envelope " aria-hidden="true"></span>aanganexpress@gmail.com|</p>
                    <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;(717) 525-9018</p>
                </div>
                <div class="header-top-right">
                    <div class="login"><a href="#">Login</a></div>
                    <div class="register"><a href="#">Register</a></div> 
                    <div class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></div>         

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //header -->
        <!-- strip -->
        <div class="strip"></div>
        <!-- //strip -->
        <!-- logo -->
        <div class="logo-head">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 logo">
                        <a href="index.html"><img src="images/logo.png" alt=""/></a>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <div class="navigation">
                            <span class="menu"><img src="images/menu.png" alt=""/></span>
                            <div class="clearfix"></div>
                            <ul class="nav1 wow fadeInDown animated">
                                <li><a class="hvr-overline-from-center button2" href="index.html">Home</a></li>
                                <li><a class="hvr-overline-from-center button2" href="menu.html">Menu</a></li>
                                <li><a class="hvr-overline-from-center button2" href="catering.html">Catering Menu</a></li>
                                <li><a class="hvr-overline-from-center button2" href="gallery.html">Gallery</a></li>
                                <li><a class="hvr-overline-from-center button2" href="event.html">Events</a></li>	
                                <li><a class="hvr-overline-from-center button2" href="contact.html">Contact Us</a></li>

                            </ul>
                            <!-- script for menu -->
                            <script>
                                $("span.menu").click(function () {
                                    $("ul.nav1").slideToggle(300, function () {
                                        // Animation complete.
                                    });
                                });
                            </script>
                            <!-- //script for menu -->	
                        </div>
                    </div>
                    <!--                <div class="col-sm-2">
                                        <div class="order-online"><a style="color: white !important">Order Online</a></div>
                                    </div>-->
                </div>

            </div>
        </div>
        <!-- //logo -->
        <!-- banner -->
        <div class="banner wow fadeInLeft animated page-head">	
            <img src="images/banner12.jpg"/>
        </div>
        <!-- //banner -->
        <div class="cart_check">
            <div class="container">
                <div id="wrapper">
                    <br>
                    <div class="step">
                        <a href="#bar1"><span class='baricon'>1</span></a>

                        <span id="bar1" class='progress_bar'></span>
                        <a href="#bar2"><span class='baricon'>2</span></a>
                        <span id="bar2" class='progress_bar'></span>
                        <a href="#"><span class='baricon'>3</span></a>
                        <span id="bar3" class='progress_bar'></span>
                        <a href="#"><span class='baricon'>4</span></a>
                    </div>
                    <div class="row stepdetail">
                        <ul>
                            <li><p>Provide Email</p></li>
                            <li><p>Provide address</p></li>
                            <li><p>Make Payment</p></li>
                            <li><p>Your's Done!</p></li>
                        </ul>
                    </div>
                    <div class="row">

                        <div class="col-sm-9 stepform">

                            <div id="account_details" class="col-sm-12 account_d">

                                <div style="cursor:default;" class="content_row col-sm-12">                          
                                    <span id="steponetext" class="title_icon">1</span> <span class="content_row_title">ACCOUNT INFO</span></div>
                                <div class="col-sm-8 acco_de">

                                    <h4 class='form_head'>Account Details</h4>
                                    <p>Email Address<span>*</span></p>
                                    <input type="text" placeholder='Email Address'>
                                    <p>Password<span>*</span></p>
                                    <input type="text" placeholder='Password'>
                                    <br>
                                    <div class="button_next">
                                        <input type="button" value="Next" onclick="show_next('account_details', 'user_details', 'bar1');">
                                    </div>    
                                </div>
                                <div class="col-sm-4 sign_upbtn">
                                    <p>Have not an Account? Click on Sign Up</p>
                                    <input type="button" value="Sign Up">
                                </div>
                                <div style="cursor:default;" class="content_row2 col-sm-12">                            
                                    <span id="steponetext" class="title_icon2">2</span> <span class="content_row_title">PICKUP AND DELIVERY</span></div>
                                <div style="cursor:default;" class="content_row2 col-sm-12">                         
                                    <span id="steponetext" class="title_icon2">3</span> <span class="content_row_title">PAYMENT</span></div>
                            

                            </div>


                            <div id="user_details" class="col-sm-12 contact_de">
                                <div style="cursor:default;" class="content_row3 col-sm-12">                            

                                    <div class="left_con"><span id="steponetext" class="title_icon3"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="content_row_title">ACCOUNT INFO</span></div>
                                    <div class="right_con"><i class="fa fa-user" aria-hidden="true"></i> <span class="content_row_title">rinkal@gmail.com</span></div>
                                </div>
                                <div style="cursor:default;" class="content_row col-sm-12">                            
                                    <span id="steponetext" class="title_icon">2</span> <span class="content_row_title">PICKUP AND DELIVERY</span></div>
                                <div class="col-sm-12 con_de">

                                    <h4 class='form_head'>Address detail</h4>
                                    <p>Name<span>*</span></p>
                                    <div class="row">
                                        <div class="col-sm-2 con_inr_de">
                                            <select>
                                                <option>Mr.</option>
                                                <option>Ms.</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5 con_inr_de"><input type="text" placeholder='First Name'></div>
                                        <div class="col-sm-5 con_inr_de"> <input type="text" placeholder='Last Name'></div>
                                    </div>

                                    <p>Mobile Number<span>*</span></p>
                                    <input type="text" placeholder='e.g. 9874561231'>
                                    <p>Postal Code<span>*</span></p>
                                    <input type="text" placeholder='Pincode'>
                                    <p>Address <span>*</span></p>
                                    <div class="row">
                                        <div class="col-sm-6 con_inr_de">
                                            <p>Billing Address <span>*</span></p>
                                            <input type="text" placeholder='Street Address 1'>
                                    <input type="text" placeholder='Street Address 2'>
                                    <input type="text" placeholder='City'>
                                    <input type="text" placeholder='State'>
                                    
                                        </div>
                                        <div class="col-sm-6 con_inr_de">
                                            <p>Delivery Address <span>*</span></p>
                                            <input type="text" placeholder='Street Address 1'>
                                    <input type="text" placeholder='Street Address 2'>
                                    <input type="text" placeholder='City'>
                                    <input type="text" placeholder='State'>
                                    <input type="checkbox" >&nbsp; &nbsp; Same as a Billing Address
                                        </div>
                                        
                                    </div>
                                    
                                    
                                 
                                    <div class="button_next">
                                        <input type="button" value="Previous" onclick="show_prev('account_details', 'bar1');">
                                        <input type="button" value="Deliver to this Address" onclick="show_next('user_details', 'qualification', 'bar2');">
                                    </div>    
                                </div>


                                <div style="cursor:default;" class="content_row2 col-sm-12">                            
                                    <span id="steponetext" class="title_icon2">3</span> <span class="content_row_title">PAYMENT</span></div>


                            </div>

                            <div id="qualification" class="col-sm-12 payment">
                                <div style="cursor:default;" class="content_row3 col-sm-12">                            

                                    <div class="left_con"><span id="steponetext" class="title_icon3"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="content_row_title">ACCOUNT INFO</span></div>
                                    <div class="right_con"><i class="fa fa-user" aria-hidden="true"></i> <span class="content_row_title">rinkal@gmail.com</span></div>
                                </div>
                                <div style="cursor:default;" class="content_row3 col-sm-12">                            

                                    <div class="left_con"><span id="steponetext" class="title_icon3"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="content_row_title">PICKUP AND DELIVERY</span></div>
                                    <div class="right_con"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="content_row_title">AHMEDABAD : 382350</span></div>
                                </div>
                                <div style="cursor:default;" class="content_row col-sm-12">                            
                                    <span id="steponetext" class="title_icon">3</span> <span class="content_row_title">PAYMENT</span></div>
                                   
                                <div class="col-sm-12 con_de">
                                    <input type="radio">Pickup
                                    <input type="radio" >Delivery<br>
                                    <input type="text" placeholder='Picup Time'style="width:50%; margin-top:20px">
                                    <h4 class='form_head'>Case On Delivery</h4>
                                    <p>After you place order, we may call you on the number provided by you <b>(7894561231)</b> to confirm the order. Pay <b>$1.23</b> to the courier person at the time of delivery. </p>

                                    <br>
                                    <div class="button_next">
                                        <input type="button" value="Previous" onclick="show_prev('user_details', 'bar2');">
                                        <input type="button" value="Payment" onclick="show_next('qualification', 'your_done', 'bar3');">
                                    </div>    
                                </div>





                            </div>
                            <div id="your_done" class="col-sm-12 done">
                                <div style="cursor:default;" class="content_row3 col-sm-12">                            

                                    <div class="left_con"><span id="steponetext" class="title_icon3"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="content_row_title">ACCOUNT INFO</span></div>
                                    <div class="right_con"><i class="fa fa-user" aria-hidden="true"></i> <span class="content_row_title">rinkal@gmail.com</span></div>
                                </div>
                                <div style="cursor:default;" class="content_row3 col-sm-12">                            

                                    <div class="left_con"><span id="steponetext" class="title_icon3"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="content_row_title">PICKUP AND DELIVERY</span></div>
                                    <div class="right_con"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="content_row_title">AHMEDABAD : 382350</span></div>
                                </div>
                                <div style="cursor:default;" class="content_row3 col-sm-12">                            

                                    <div class="left_con"><span id="steponetext" class="title_icon3"><i class="fa fa-check" aria-hidden="true"></i></span> <span class="content_row_title">PAYMENT</span></div>
                                    <div class="right_con"><i class="fa fa-money" aria-hidden="true"></i><span class="content_row_title">$1.23</span></div>
                                </div>

                                <div class="col-sm-12 complete">

                                    <h4 class='form_head'>Congratulation!</h4>
                                    <p>Thank u For Visit Our Site.. </p>

                                    <br>
                                    <div class="button_next">
                                        <input type="button" value="Previous" onclick="show_prev('qualification', 'bar3');">
                                        <input type="button" value="Submit">
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 rightside_cart">
                            <div class="col-sm-12 cart_pay">
                                <h4>You Pay:<span>$1.23</span></h4>
                            </div>
                            <div class="col-sm-12 cart_detail">
                                <h4>3 Item in Cart</h4>
                                <a href="#">Edit<i class="fa fa-pencil" aria-hidden="true"></i></a>
                                
                            </div>
                            <div class="col-sm-12 cart_btn">
                                <p><button class='pushme' onclick="return showHide();">Show Details
                                        </button><i class="fa fa-chevron-down" aria-hidden="true"></i></p>
                            </div>
                            <div id="showHideDiv" style="display:none;" class="col-sm-12">
                                <div class="cart_details_item">
                                    <div class="title"> Samosa 2 Pcs</div>
                                    <div class="price z_red"><span class="price">$1.23</span></div>
                                    <div class="cdi_inner"><span class="fbold"> Type :</span> Spicy </div>
                                    <div class="cdi_inner"><span class="fbold"> Quantity :</span> 1 </div>
                                </div>
                                <div class="cart_details_item">
                                    <div class="title"> Samosa 2 Pcs</div>
                                    <div class="price z_red"><span class="price">$1.23</span></div>
                                    <div class="cdi_inner"><span class="fbold"> Type :</span> Spicy </div>
                                    <div class="cdi_inner"><span class="fbold"> Quantity :</span> 1 </div>
                                </div>
                               <div class="cart_details_item">
                                    <div class="title"> Samosa 2 Pcs</div>
                                    <div class="price z_red"><span class="price">$1.23</span></div>
                                    <div class="cdi_inner"><span class="fbold"> Type :</span> Spicy </div>
                                    <div class="cdi_inner"><span class="fbold"> Quantity :</span> 1 </div>
                                </div>
                                <div class="cart_details_item">
                                    <div class="bigtitle"> Order Total</div>
                                    <div class="price z_red"><span class="price">$3.69</span></div>
                                    <div class="cdi_inner"><span class="fbold"> Sub Total :</span> $3.69 </div>
                                    <div class="cdi_inner"><span class="fbold"> Shipping Charge :</span> Free </div>
                                </div>
                            </div>
                              
                           
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer" id="footer">
            <div class="container">
                <div class="footer-grids">	
                    <div class="col-sm-3 footer-grid">
                        <h4>GET IN TOUCH</h4>
                        <ul>
                            <li>AANGAN EXPRESS</li>
                            <li>263 Reily Street </li>
                            <li>Harrisburg PA 17102 </li>
                            <hr>
                            <li>Tel:(717) 525-9018</li>

                            <li>Email: <a href="mailto:aanganexpress@gmail.com">aanganexpress@gmail.com</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3 footer-grid">
                        <h4>RESTAURANT HOURS</h4>
                        <H5>Lunch</H5>
                        <ul>
                            <li>Mon-Fri : 11:00 AM - 2:30 PM </li>
                            <li>Sat-Sun : 11:30 AM - 3:00 PM </li>

                            <!--                                        <hr>
                                                                    <li style="color: #C6273A;font-weight: bold">(Monday to Friday as Dian in from 3pm to 10.30 pm)</li>
                                                                    <li style="color: #C6273A;font-weight: bold">Every First Wednesday to the month Belly Dance Show at 7:00pm</li>-->
                        </ul>
                        <hr>
                        <H5>Dinner</H5>
                        <ul>
                            <li>Sun-Thu : 4:30 PM - 8:00 PM</li>
                            <li>Fri-Sat : 4:30 PM - 9:00 PM</li>

                            <!--                                        <hr>
                                                                    <li style="color: #C6273A;font-weight: bold">(Monday to Friday as Dian in from 3pm to 10.30 pm)</li>
                                                                    <li style="color: #C6273A;font-weight: bold">Every First Wednesday to the month Belly Dance Show at 7:00pm</li>-->
                        </ul>
                        <!--				<h4>SUBSCRIBE</h4>
                                                        <form>
                                                                <input type="email" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
                                                                <input type="submit" value=" ">
                                                        </form>-->
                    </div>
                    <div class="col-sm-3 footer-grid">
                        <h4>QUICK INQUIRY</h4>
                        <input type="text" required="" placeholder="Full Name">
                        <input type="text" required="" placeholder="Phone">
                        <input type="text" required="" placeholder="Email">
                        <textarea required="" placeholder="Message"></textarea>
                        <input type="submit" value="SUBMIT">
                    </div>
                    <div class="col-sm-3 footer-grid">
                        <h4> LOCATION</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.212836529143!2d-76.89329868454928!3d40.27102207241205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8c1158dc70847%3A0x14e1f6a40117cfe5!2s263+Reily+St%2C+Harrisburg%2C+PA+17102%2C+USA!5e0!3m2!1sen!2sin!4v1458388524825" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //footer -->

        <div class="strip1"></div>
        <!-- copy -->
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <p> &copy;2016 Aangan Rasraj LLC. All rights reserved  </p>
                    </div>

                    <div class="col-sm-4">
                        <h6> Developed By :<a href="http://winspirewebsolution.com/"> Winspire Web Solution </a></h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- //copy -->
        <!-- for bootstrap working -->
        <script src="js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- smooth scrolling -->
        <script type="text/javascript">
        $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear' 
             };
             */
            $().UItoTop({easingType: 'easeOutQuart'});
        });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!-- //smooth scrolling -->

        <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery-ui.js"></script>
        <script>
$(function () {
$("#datepicker").datepicker();
});
        </script>   


        <script>
            function show_next(id, nextid, bar)
            {
                var ele = document.getElementById(id).getElementsByTagName("input");
                var error = 0;
                for (var i = 0; i < ele.length; i++)
                {
                    if (ele[i].type == "text" && ele[i].value == "")
                    {
                        error++;
                    }
                }

                if (error == 0)
                {
                    document.getElementById("account_details").style.display = "none";
                    document.getElementById("user_details").style.display = "none";
                    document.getElementById("qualification").style.display = "none";
                    document.getElementById("your_done").style.display = "none";
                    $("#" + nextid).fadeIn();
                    document.getElementById(bar).style.backgroundColor = "#CF3B37";
                } else
                {
                    alert("Fill All The details");
                }
            }

            function show_prev(previd, bar)
            {
                document.getElementById("account_details").style.display = "none";
                document.getElementById("user_details").style.display = "none";
                document.getElementById("qualification").style.display = "none";
                document.getElementById("your_done").style.display = "none";
                $("#" + previd).fadeIn();
                document.getElementById(bar).style.backgroundColor = "#D8D8D8";
            }
        </script>
        <script type="text/javascript" language="javascript">// <![CDATA[
function showHide() {
    var ele = document.getElementById("showHideDiv");
    if(ele.style.display == "block") {
            ele.style.display = "none";
      }
    else {
        ele.style.display = "block";
    }
}
// ]]></script>
        
        <script>
        	var index = 0,
    messg = [
        "Hide Deatils", 
        "Show Deatils"
       
    ];

$(".pushme").on("click", function() {
    $(this).text(function(index, text){
        index = $.inArray(text, messg);
        return messg[++index % messg.length];
    });
});
    </script>
    
    </body>
</html>
