/*===============   tag css    ==================*/

a:hover, a:focus, a:visited, a:visited {
    text-decoration: none;
    outline: none;
}
a {
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
/*common css start*/
html, body{
    margin:0;
    font-size: 100%;
    font-family: 'Arial';
    background: #FFf;
    width:100%;
    padding: 0 !important;
    overflow-x: hidden;
    background: #e8e3e3;
}
.content{min-height: 640px}
body.modal-open {
    overflow: hidden;
    padding: 0 !important;
    position: fixed;
}
.modal.fade.in {
    padding: 0 !important;
}
body a {
    text-decoration:none;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
@font-face {
    font-family: 'Arial';
    src: url(../fonts/arial.ttf)format('truetype');
}
@font-face {
    font-family: 'Arial Black';
    src: url(../fonts/ariblk.ttf)format('truetype');
}
@font-face {
    font-family: 'Arial Narrow';
    src: url(../fonts/ARIALN.TTF)format('truetype');
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
    -moz-appearance: none;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1.5px solid rgb(190, 190, 190);
    color: rgb(102, 102, 102);
    font-family: 'Arial';
    font-size:15px;
    height: 40px;
    margin: 15px 0 15px 0px;
    outline: medium none;
    padding: 9px 7px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
select{  background: rgb(255, 255, 255) url("../images/asset-door-description-arrow (2).png")no-repeat scroll 98% center;-webkit-appearance: none;}
.buttons
{
    background: #fff;
    border: 2px solid #9F1D10;
    padding: 5px 20px;
    color:#9F1D10;
    font-weight: bold;
    font-family: 'Arial';
}
.buttons:hover,.buttons:focus {
    color:#9F1D10;
}
.fill_btn{
    background:  #9F1D10;
    border: 2px solid #9F1D10;
    padding: 5px 25px;
    color:#fff;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 16px;
    float: left;
    margin-top: 30px;
    margin-right: 5px;
}
.fill_btn:hover, .fill_btn:focus{color:#fff}
.modal-content
{
    float: left;
    width:100%;
}
.modal-body {
    float: left;
    padding:10px 0px !important;
    position: relative;
    width: 100%;
}
/*===============     header    ==================*/


.topheader {
    background: url('../images/header_back.png');
    background-size: 100% 100%;
    padding-bottom: 25px;
}
.logo a img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
.inner_head {
  background: rgb(193, 193, 193) none repeat scroll 0 0;
}
.div_button {
    margin-top: 35px;
}
.login_con {
    background: url('../images/popup_back.png');
    background-size: 100% 100%;
    margin: 2% 0;
}
.login {
    float: left;
    width:100%;
    margin-bottom: 25px;
}
.login h1{
    color:#9F1D10;
    font-weight: bold;
    border-bottom: 1px solid #9F1D10;
    font-family: 'Arial';
    padding: 20px 0px;
    margin-top: 10px;
}
.con_mail {
    padding: 0 30px 0px;
    float: left;
    width: 100%;
}
.con_mail a{
    color:#9F1D10;
    padding-top: 34px;
    font-family: 'Arial';
    float: right;
    font-size: 16px;   
}
footer{
    background: url('../images/footer_back.png');
    background-size: 100% 100%;
    position: relative;bottom: 0;
    width:100%;
    height: 125px;
    margin-top: 39px;
}
#main footer{
    background: url('../images/footer_back.png');
    background-size: 100% 100%;
    position: fixed;bottom: 0;
    width:100%;
    height: 125px;
}
.footer_menu li {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    border-right: 1px solid #9F1D10;
    color: #9F1D10;
    margin: 50px 0;
}
.footer_menu li:last-child
{
    border-right: 0px solid #fff;
}
.footer_menu {
    text-align: center;
    margin: 0px;
    padding: 0;
}
.footer_menu a{color: #9F1D10;
               font-family: 'Arial';}
#sign_up .login > h1 {
    margin-top: 0;
    padding: 10px 0;
}

/*////////////////////////  dashboard start ///////////////////////*/
.div_button span{
    color: #000;
}

.div_button span a{
    color: #000;    
}
.signout {
    color: #9F1D10 !important;
    margin-left: 10px;
    font-weight: bold;
}
.con_head{background: url("../images/heading_back.png") repeat 100% 100%; height: 70px }
.heading h4{font-family: 'Arial Narrow';font-weight: bold;margin: 0}
.con_head h2 {
    color: rgba(0, 0, 0,0.8);
    font-weight: bold;
    line-height: 70px;
}
.buttons i {
    margin-right: 7px;
}
.cre_btn.pull-right {
    margin: 15px 0;
}
/*.first_head{padding: 0;margin-left: 15px;}*/
.heading_pro{padding: 0}
.heading_pro > h5
{
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background: #ababab;
    border-right: 1px solid #fff;
    line-height: 35px;
    margin-bottom: 0px;
}
.last_head h5 {
    border-right: none;text-align: center;
}

.project_desc {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-top: 2px solid rgb(165, 165, 165);
    float: left;
    width: 100%;
}
.miiddle_con{border-right: 1px solid #666;border-left: 1px solid #666}
.pro_content > h5{
    color: #9F1D10;
    font-size: 17px;
}
.pro_content > h5 a{
    color: #9F1D10;
    font-size: 17px;
}
.pro_content.last_head{border-right: none}
.col-sm-6.pro_content p {
    border-top: 1px solid #9F1D10;
    padding-top: 10px;
    font-size: 13px;
    color: #000;
    line-height: 20px;
}
.pro_content h5 i {
    color:#a5a5a5;
}
.media_con{display:none}
.con_mail textarea {
    height: 160px;
}
#myModal2 .btn.fill_btn {

    padding: 7px 36px;
}
.con_pro{text-align: left;padding: 5px 16px;}
.con_pro p{border-top: none !important;}
.con_pro > h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.edits .btn.buttons {
    float: left;
    margin-right: 5px;
    margin-top: 30px;
    padding: 7px 14px;
}

#edits textarea{height: 160px;}
#edits2 textarea{height: 100px;}
.btn.fill_btn.send {
    float: right;
}



/*//////////// ///////////////////    contributor start /////////////////////////*/
#header_con{background: #c1c1c1}
.head_left h2{color:#9F1D10;font-size: 25px;margin: 22px 0 28px;font-weight: bold}
.head_right .buttons {
    float: right;
    margin-top: 16px;
}

.nav-tabs li {
    float: none;
    border-bottom: 1px solid #ddd;
}
.nav.nav-tabs {
    background: #c1c1c1 none repeat scroll 0 0;
    min-height: 460px;
}
.act{display: none}
.nav-tabs > li.active{background: #fff}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: transparent;
    color:#9F1D10;
    cursor: default;
    background: #fff;
}
.nav-tabs li a{color:#000}

.nav-tabs li:hover, .nav-tabs li:focus{background: #fff;}
.nav-tabs li a:hover,.nav-tabs li a:focus{background: #fff;border: 1px solid #fff}
.nav-tabs > li.active > a .norm{display: none}
.nav-tabs > li.active > a .act{display: block}
.nav-tabs li a img {
    float: left;
    margin-right: 15px;
    width: 30px;
}
.nav .open,.nav .open:hover,.nav .open:focus{border-color:#c1c1c1 }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #c1c1c1;
    border:none;
}
.dropdown-menu {
    background: rgb(193, 193, 193) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0 !important;
    min-width: 100%;
    padding: 0px;
    text-align: center;
    display: block;
}
.dropdown-menu li{border-bottom: none}
.dropdown-menu > li > a {
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    float: right;
    font-weight: normal;
    line-height: 40px;
    padding: 0px 20px;
    white-space: nowrap;
    width: 100%;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color:#fff;
    color: #000;
    outline: 0 none;
    text-decoration: none;
    border: 1px solid #fff;
}
.nav .open .darrow{
    display: block;
}
.nav .open .a1{
    display: none;
}
.arrow {
    margin-top: 3px;
    position: absolute;
    right: 0;
    width: 7px !important;
}
.darrow {
    display: none;
    margin-top: -15px;
    position: absolute;
    right: 0;
    width: 15px !important;
}
.dropdown-menu .arrow {
    margin-top: 10px;
}
.tab-content {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    padding: 0;
    min-height: 460px;
    float: left;
}
#module_con{margin-top: 30px;}
.tab-content > .tab-pane {
    float: left;
    width: 100%;
}
.tab_tead{padding: 10px 15px;background: #C1C1C1;float: left;width: 100%;margin-bottom: 10px; }
.tab_tead > h4 {
    float: left;
    width: auto;
    margin-bottom:  0;
    color:#9F1D10;
    text-transform: uppercase;
    font-weight: bold;
}
.tab_tead .buttons {
    float: right;
}
.tab_inner ul {
    float: left;width: 100%;
    padding: 0;
}
.tab_inner ul li{
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.tab_inner p {
    font-family: "Arial Narrow";
    font-size: 18px;
    margin: 5px 0;
    color:  #000;
    padding: 0px 15px;
}
.tab_inner p a .fa.fa-trash-o {
    float: right;
    color:#000;
}
.tab_inner{float: left;width:100%}
/*.tab_inner ul li:last-child{border-bottom: none}*/

/* ////////////////////////////////// requirents ///////////////////////////////*/
.heading_pro2{padding: 0}
.heading_pro2 > h5
{
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background: #c1c1c1;
    border-right: 2px solid #fff;
    line-height: 35px;
    margin-bottom: 0px;
}
.project_desc2{background: #E8E3E3;float: left;width:100%;border-bottom: 2px solid #fff}
.pro_content2 {
    border-right: 2px solid rgb(255, 255, 255);
}
.col-sm-2.heading_pro2 > h5 {
    border-right: 0 none;
}
.pro_content2.last_head2{border-right: none;text-align: center}
.pro_content2.last_head > ul {
    padding: 0;
    margin-bottom: 0;
    line-height: 36px;
}
.pro_content2.last_head li {
    display: inline-block;
    padding: 0 1.6%;
}
.pro_content2.last_head li span {
    font-size: 13px;
}
.pro_content2 li i {
    font-size: 14px;
    line-height: 10px;
    color: #9F1D10;
}
.pro_content2.last_head2 img {
    margin-right: 10px;
    width: 10px;
}
.fi_head{text-align: center}
.pro_content2 > h5 {
    font-family: "Arial Narrow";
    font-size: 16px;
}
.requirement_con {
    float: left;
    width: 100%;
}
.pro_content2 > h3
{
    color: #000;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
    display: none;
}
.tab_tead > ul {
    float: right;
    margin-bottom: 0;
    margin-top: 6px;
}
.tab_tead li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 20px;
}
.tab_tead a {
    color: rgba(0, 0, 0,0.8);
    font-size: 13px;
}
.tab_tead li a i {
    font-size: 15px;
}
.sec_con{background:  #fff !important; border-bottom: 1px solid rgba(0, 0, 0,0.8);padding-top: 0}
.sec_con > h4 {
    color:  rgba(0, 0, 0,0.8);
    float: left;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: capitalize;
    width: auto;
    font-size: 20px;
}
.general_content_comment{display: none}
.module_content_comment{display: none}
.fa.fa-user {
    background: rgb(232, 227, 227) none repeat scroll 0 0;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 10px 15px;
    float: left;
}
.arrow-left {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgb(232, 227, 227);
    border-top: 10px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-left: 15px;
    margin-top: 25px;
    width: 0;
}
.comment {
    background: rgb(232, 227, 227) none repeat scroll 0 0;
    border-radius: 10px;
    height: 70px;
    margin: 0;
    width: 88% !important;
    border-left: none;
    font-size: 12px;
}
.comment_part > span {
    color: rgb(102, 102, 102);
    float: right;
    font-size: 12px;
}
.sort_select{width:25%;background: rgb(232, 227, 227) url("../images/asset-door-description-arrow (2).png") no-repeat scroll 95% center;margin-left:20px;}
.sort p {border-bottom: 1px solid #ddd}
.comment_img {
    height: 60px;
    width: 60px;
    float: left;
}
.comm{padding: 10px 15px}
.comm_con {
    float: right;
    width: 90%;
}
.comm_con > h5 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 0;
    font-family: 'Arial Narrow';
    font-weight: bold;
    margin-bottom: 5px;
}
.comm_con > p {
    color: rgb(102, 102, 102);
    font-size: 13px;

}
.comm_con > ul {
    padding-left: 15px;
}
.comm_con li {
    color: rgb(102, 102, 102);
    float: left;
    margin-right: 23px;
    font-size: 12px;
}
.comm_con a {
    color: rgb(102, 102, 102);
}
.odd{background: #f1f1f1;}
.even{background: #fff;}
.comments {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.comments.inner {
    border-top: 1px solid rgb(221, 221, 221);
    float: right;
    padding-top: 10px;
    width: 90%;
}
.tab_tead.sec_con p {
    float: left;
    font-size: 17px;
}

/*contact start*/
.contact_box {
  margin: 0 auto;
  width: 50%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #9F1D10;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

#contact button[type="submit"]:hover {
  background: #9F1D10;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.content_div{margin: 50px 0px}
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 15px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
        background: #ABABAB;
        color: #fff;
        
    }
.panel-body{font-size:13px}
    .more-less {
        float: right;
        color: #212121;
    }



